*{margin: 0%;
padding: 0;
font-family: Verdana, Geneva, Tahoma, sans-serif;}

.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0px 20px;
    background-color: burlywood;
}
.navbar .left-link{
    display: flex;
    gap: 5px;
}
.navbar .left-link span{
    border: 1px solid grey;
    background-color: grey;
    padding: 5px;
    margin-left: 10px;
    font-size: 18px;
    border-radius: 20px;
    color: yellow;
}
.navbar .left-link .col p{
    font-weight: bold;
    font-size: 23px;
    color: rgb(128, 56, 5);
}
.navbar .right-link{
    margin-right: 10px;
}
.navbar .right-link a{
    text-decoration: none;
    color:  rgb(6, 126, 173);
    font-size: 18px;
}
.row1{
    width: 100%;
    background-color: rgb(182, 200, 207);
}
.row1 h1{
    width: 100%;
    text-align: center;
    padding: 20px 0px 10px;
    color: rgb(122, 72, 11);
}
.row1 p{
    padding: 5px 10px;
    width: 100%;
    justify-content: center;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: rgb(128, 40, 40);
}
.grid-1{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(11, 1fr);
    background-color: wheat;
    padding: 5px 10px;
    grid-gap: 1px;
    text-align: center;
    cursor: pointer;
}
.grid-1 .empty1{
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: brown;
    border: 1px solid black;
    border-radius: 7px;
}
.grid-1 .insert{
    grid-column: 4/6;
    grid-row: 1/2;
    background-color: green;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}
.grid-1 .insert img{
    object-fit: contain;
    width: 80%;
}
.grid-1 .empty2{
    grid-column: 6/9;
    grid-row: 1/2;
    background-color: brown;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}
.grid-1 .select{
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: orangered;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}
.grid-1 .select img{
    width: 50%;
}
.grid-1 .enter-pin{
    grid-column: 3/5;
    grid-row: 2/3;
    background-color: peru;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}
.grid-1 .enter-pin img{
    width: 80%;
}
.grid-1 .correct-pin{
    grid-column: 5/7;
    grid-row: 2/3;
    background-color: indigo;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}
.grid-1 .incorrect-pin{
    grid-column: 7/9;
    grid-row: 2/3;
    background-color: firebrick;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}
.grid-1 .empty3{
    grid-column: 1/4;
    grid-row: 3/4;
    background-color: brown;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}
.grid-1 .incorrect-pin2{
    grid-column: 4/6;
    grid-row: 3/4;
    background-color: green;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}
.grid-1 .empty4{
    grid-column: 6/9;
    grid-row: 3/4;
    background-color: brown;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}
.grid-1 .re-enter{
    grid-column: 1/3;
    grid-row: 4/5;
    background-color: cadetblue;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}
.grid-1 .trial{
    grid-column: 3/7;
    grid-row: 4/5;
    background-color: maroon;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}
.grid-1 .end{
    grid-column: 7/9;
    grid-row: 4/5;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}
.grid-1 .empty5{
    grid-column: 1/4;
    grid-row: 5/6;
    background-color: brown;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}
.grid-1 .correct-pin2{
    grid-column: 4/6;
    grid-row: 5/6;
    background-color: green;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}
.grid-1 .empty6{
    grid-column: 6/9;
    grid-row: 5/6;
    background-color: brown;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}
.grid-1 .withdraw{
    grid-column: 1/3;
    grid-row: 6/7;
    background-color: maroon;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}
.grid-1 .pay-bills{
    grid-column: 3/5;
    grid-row: 6/7;
    background-color: hotpink;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}
.grid-1 .recharge{
    grid-column: 5/7;
    grid-row: 6/7;
    background-color: red;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}
.grid-1 .transfer{
    grid-column: 7/9;
    grid-row: 6/7;
    background-color: crimson;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}
.grid-1 .empty7{
    grid-column: 1/4;
    grid-row: 7/8;
    background-color: coral;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}
.grid-1 .withdraw2{
    grid-column: 4/6;
    grid-row: 7/8;
    background-color: green;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}
.grid-1 .empty8{
    grid-column: 6/9;
    grid-row: 7/8;
    background-color: brown;
    border: 1px solid black;
    border-radius: 7px;
}
.grid-1 .savings{
    grid-column: 1/5;
    grid-row: 8/9;
    background-color: chocolate;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}
.grid-1 .current{
    grid-column: 5/9;
    grid-row: 8/9;
    background-color: maroon;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}
.grid-1 .empty9{
    grid-column: 1/4;
    grid-row: 9/10;
    background-color: saddlebrown;
    border: 1px solid black;
    border-radius: 7px;
}
.grid-1 .sav{
    grid-column: 4/6;
    grid-row: 9/10;
    background-color: green;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}
.grid-1 .empty10{
    grid-column: 6/9;
    grid-row: 9/10;
    background-color: brown;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}
.grid-1 .amount{
    grid-column: 1/5;
    grid-row: 10/11;
    background-color: rebeccapurple;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}
.grid-1 .amount img{
    width: 30%;
}
.grid-1 .take{
    grid-column: 5/9;
    grid-row: 10/11;
    background-color: teal;
    border: 1px solid black;
    border-radius: 7px;
}
.grid-1 .end2{
    grid-column: 1/9;
    grid-row: 11/12;
    background-color: maroon;
    border: 1px solid black;
    border-radius: 7px;
    font-weight: 700;
    font-size: 20px;
}
.grid-1 .end2 img{
    width: 20%;
}